    <ul class="nav nav-pills pull-right" id="header-menu-dashboard-list" style="margin-top: 21px;">
        <li class="">
            <a href="{{ path('_uo_demo_reporte_ejemplo_1')}}">
                <i class="icon-align-justify"></i><strong style="color: white;"> Reporte HTML + Print</strong></a>
        </li>

        <li class="">
            <a href="{{ path('_uo_demo_reporte_ejemplo_2')}}">
                <i class="icon-align-left"></i><strong style="color: white;"> Reporte HTML + PDF</strong></a>
        </li>

        <li class="">
            <a href="{{ path('_uo_demo_reporte_ejemplo_3')}}">
                <i class="icon-align-left"></i><strong style="color: white;"> Reporte Graficas</strong></a>
        </li>
    </ul> 